html{}
body{}
footer{}

article{
	text-align: center;
}
img.locandina {
	display: block;
	max-height: 200px;
	margin: auto;
	
}

.foto{
	margin-bottom:1em;
}
.foto:hover{
	transform:scale(1.1);
}

.loghi{
	margin-bottom:1em;
}