html{}
body{}
footer{}

article{
	text-align: center;
}
img.locandina {
	display: block;
	max-height: 200px;
	margin: auto;
	
}
.bordo{
	border: 1px solid black;
}
.prova{
	margin: auto;
	padding: ;
}

.foto{
	margin-bottom:1em;
}

.loghi{
	margin-bottom:1em;
}